*{
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
}
iframe{
    width: 100%;
    height: calc(170vh - 90px);
    overflow-x: hidden;
}
    @media (max-width: 850px){
        iframe{
            height: 50vh;
        }
    }
